/* ini CSS */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header.main-header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header.main-header p {
    margin: 0;
}

.selection-content {
    text-align: center;
    margin: 20px 0;
}

.selection-btn {
   padding: 10px 20px;
   border: none;
   color: #fff;
   font-size: 16px;
   cursor: pointer;
   margin: 5px;
   border-radius: 4px;
}

.pink-color {
    background-color: #e91e63;
}


.lightskyblue-color {
    background-color: #87cefa;
}


.calc-section {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0,1);
}

.calc-header {
    text-align: center;
}

.calc-content {
    margin-bottom: 20px;
}

.calc-img img {
    max-width: 100%;
    height: auto;
}

.input[type=number] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button:hover {
    background-color: #218838;
}

.input[type=number] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#triangle-result, #parallelogram-result {
    margin-top: 20px;
    padding: 10px;
    background-color: #e9ecef;
    border-radius: 4px;
}